@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Source+Sans+Pro:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}



#page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: auto;
    justify-content: center;
}

#outer1 {
    background-color: rgb(162, 32, 72);
    width: 50%;
    height: 100%;
}

#outer2 {
    background-color: rgb(130, 38, 110);
    width: 50%;
    height: 100%;
}

#left {
    background-color: rgb(214, 168, 187);
    width: 80%;
    height: 100%;
    margin-left: 21%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

#right {
    background-color: rgb(180, 113, 152);
    width: 80%;
    height: 100%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.player-box {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
}

.player-box h1 {
    padding-top: 20%;
    font-size: 35px;
}



#global-score1,
#global-score2 {
    color: rgb(162, 32, 72);
    padding-top: 10%;
}


.current-box {
    margin-left: 36%;
    margin-bottom: 10%;
    width: 20%;
    height: 10%;
    padding: 2% 4%;
    font-size: 25px;
    text-align: center;
    background-color: rgb(156, 30, 78);
    color: rgb(201, 163, 194);
    border-radius: 5%;
}

#btns {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgb(214, 168, 187) 50%, rgb(180, 113, 152) 50% );
}

#btns img {
    width: 40%;
    border-radius: 10px;
}

.btn {
    font-size: 25px;
    border: none;   
    padding: 3px 1px;
    background-color: rgb(235, 224, 228);
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.8;
    width:200px ;
}



/*first page*/

#welcome {
    background-image: linear-gradient(to right, rgb(161, 116, 166), rgb(238, 115, 121));
    /* background-color: transparent;*/
    width: 80%;
    height: 80%;
    border: 5px solid rgb(151, 102, 145);
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
}

#instructions {
    padding-top: 40px;
}

#instructions h1 {
    padding-left: 20px;
}

#welcome ul {
    padding-left: 20px;
}

#form {
    margin-top: 20%;
    margin-left: 25%;
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#limit {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#start {
    width: 200px;
}

#back {
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    background: linear-gradient(90deg, rgb(162, 32, 72), rgba(226, 101, 139, 0.774), rgb(204, 143, 168), rgb(148, 82, 120));

}